.quiz {
  padding: 4rem 0;
}

.quizcontainer {
  background-color: $white;
  border-radius: 16px;
  overflow: hidden;
}

hr {
  background-color: $red;
}

.screencontainer {
  padding: 16px;
  label {
    text-align: center;
    color: $blue;
  }
  .checkbox-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }
  input[type="checkbox"] {
    transform: scale(1.5);
    margin-bottom: 8px;
  }
}

.screentitle {
  color: $green;
  h2 {
    font-weight: bold;
  }
}

.question {
  color: $blue;
}

.results {
  h2 {
    color: $green;
    font-weight: bold;
  }
  p {
    color: $blue;
  }
  h3 {
    color: $red;
  }
}
