.quiz {
  padding: 4rem 0;
}

.quizcontainer {
  background-color: $white;
  border-radius: 16px;
  overflow: hidden;
}

.screencontainer {
  padding: 0 16px 16px 16px;
}

.screentitle {
  color: #60b32a;
}
