.mvotest-start {
  padding: 16px;
  background-color: $white;
  border-radius: 8px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  h2 {
    color: $red;
  }
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: $green;
  text-align: center;
  line-height: 30px;
  color: white;
}
