/// Regular font family
/// @type List
$text-font-stack: "Source Sans Pro", sans-serif;

// Basic colors defined
$white: #ffffff;
$background: #d6d6d6;
$red: #cc0200;
$green: #60b32a;
$blue: #294692;
$black: #000000;

// Underline variables
